@import 'variables.less';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:100';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:700';

@line-color: rgba(0, 0, 0, .1);

* {
	font-family: 'Roboto Slab', sans-serif;
	color: #333;
}
.app {
	display: flex;
  background-image: linear-gradient(0deg, transparent 99%, @line-color 100%), linear-gradient(90deg, transparent 99%, @line-color 100%);
  background-size:100px 100px;
}
.page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: @background-color;
	overflow: hidden;
}
.page-enter {
	opacity: 0.01;
	transform: translateX(20px) scale(0.95);
	&.page-enter-active {
		opacity: 1;
		transform: translateX(0) scale(1);
		transition: opacity @transition-time, transform @transition-time;
	}
}
.page-leave {
	opacity: 1;
	&.page-leave-active {
		opacity: 0.01;
		transition: opacity @transition-time/3;
	}
}
.app-loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #666;
	display: flex;
	align-items: center;
	justify-content: center;
	i {
		font-size: 50px;
		color: #999;
	}
}