@import 'variables.less';

.button-background-color(@color) {
	background: @color;
	&:not(:disabled):hover {
		background: lighten(@color, 5%);
	}
}

.button {
	height: @button-height;
	background: #ddd;
	color: #555;
	font-size: 22px;
	border: solid 2px transparent;
	border-radius: 8px;
	cursor: pointer;
	margin: 0 @gutter/2;
	flex: 1;
	min-width: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 250px;
	font-weight: 400;
	transition: background 0.2s, color 0.2s, transform 0.2s, height @responsive-transition-time, font-size @responsive-transition-time, margin @responsive-transition-time, max-width @responsive-transition-time, border-radius @responsive-transition-time;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	outline: none;
	&:disabled {
		color: #ccc;
		background: #aaa;
		cursor: default;
	}
	&:not(:disabled):hover {
		background: #eee;
		transform: scale(1.03);
	}
}
.button-success {
	.button-background-color(@green);
	color: #fff;
}
.button-info {
	.button-background-color(@blue);
	color: #fff;
}
.button-quiet {
	background: transparent;
	border-color: #fff;
	color: #fff;
}
.button.button-quiet:hover {
	background: rgba(255, 255, 255, 0.1)
}