@import 'variables.less';

.chat-box {
	width: 300px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	.chat-box-messages {
		overflow-y: scroll;
	}
	.text-field {
		flex-shrink: 0;
		margin-bottom: 20px;
	}
	.game-text-message-container {
		padding: 0;
		justify-content: flex-end;
		flex-direction: column;
	}
}

@media screen and (max-width: @small-max-width), screen and (max-height: @small-max-height) {
	.chat-box {
		padding-left: 10px;
		padding-right: 10px;
	}
}