@import 'variables.less';

.create-user-page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 @gutter;
	box-sizing: border-box;
	.create-user-container {
		width: 600px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
	}
	.launch-buttons {
		text-align: center;
	}
	.launch-button {
		width: 300px;
		max-width: 100%;
		.fa {
			font-size: 18px;
		}
	}
}