@import 'variables.less';

@modal-delay-time: 200ms;
@modal-transition-enter-time: 400ms;
@modal-transition-leave-time: 1000ms;
@brush-palette-transition-time: 300ms;
@mobile-user-connected-transition-time: 500ms;
@game-text-field-transition-time: 300ms;
@game-text-field-delay-time: 700ms;
@logo-width: 820px/11;
@logo-height: 456px/11;
@keyframes bounce {
	0% {
		opacity: 0.01;
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.round-word {
	position: absolute;
	left: @brush-palette-width;
	right: @game-panel-width;
	bottom: 50px;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	color: #444;
}
.game-page-logo {
	position: absolute;
	left: 0;
	bottom: 0;
	background: @background-color;
	padding: 12px;
	width: @logo-width;
	height: @logo-height;
	-webkit-backface-visibility: hidden; // Fixes a css transform issue in chrome http://stackoverflow.com/questions/17242922/css3-hover-effects-make-weird-impact-on-other-elements-in-chrome
	cursor: pointer;
	transition: padding @responsive-transition-time, width @responsive-transition-time, height @responsive-transition-time, transform 0.2s;
	&:hover {
		transform: scale(1.06);
	}
}
.mobile-user-connected-message-wrap {
	position: absolute;
	left: 0;
	top: 0;
	right: @game-panel-width;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mobile-user-connected-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 2px;
	color: @black;
	.big-mobile-icon {
		font-size: 100px;
	}
	.disconnect-link {
		font-size: 13px;
		color: @purple;
		cursor: pointer;
		&:hover {
			color: lighten(@purple, 10%);
		}
	}
}
.pre-round-modal-enter {
	transform: translateY(-20%);
	opacity: 0;
	&.pre-round-modal-enter-active {
		animation: bounce @modal-transition-enter-time @modal-delay-time;
	}
}
.pre-round-modal-leave {
	opacity: 1;
	&.pre-round-modal-leave-active {
		opacity: 0;
		transition: opacity @modal-transition-leave-time;
	}
}
.brush-palette-enter {
	transform: translateX(-20%);
	opacity: 0.1;
	&.brush-palette-enter-active {
		transform: translateX(0);
		opacity: 1;
		transition: opacity @brush-palette-transition-time, transform @brush-palette-transition-time;
	}
}
.brush-palette-leave {
	opacity: 1;
	transform: translateX(0);
	&.brush-palette-leave-active {
		opacity: 0;
		transform: translateX(-20%);
		transition: opacity @brush-palette-transition-time, transform @brush-palette-transition-time;
	}
}
.mobile-user-connected-enter {
	transform: scale(0.8);
	opacity: 0.1;
	&.mobile-user-connected-enter-active {
		transform: scale(1);
		opacity: 1;
		transition: opacity @mobile-user-connected-transition-time, transform @mobile-user-connected-transition-time;
	}
}
.mobile-user-connected-leave {
	opacity: 1;
	transform: scale(1);
	&.mobile-user-connected-leave-active {
		opacity: 0;
		transform: scale(1.2);
		transition: opacity @mobile-user-connected-transition-time, transform @mobile-user-connected-transition-time;
	}
}
.game-text-field-enter {
	opacity: 0.01;
	&.game-text-field-enter-active {
		opacity: 1;
		transition: opacity @game-text-field-transition-time @game-text-field-delay-time;
	}
}
.game-text-field-leave {
	opacity: 1;
	&.game-text-field-leave-active {
		opacity: 0;
		transition: opacity @game-text-field-transition-time;
	}
}