@import 'variables.less';

.game-modal {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(50, 50, 50, 0.95);
	h1 {
		color: @white;
		font-weight: 100;
		font-size: 36px;
		padding: 20px;
		text-align: center;
	}
	.modal-round-word {
		font-weight: 800;
	}
}
.start-game-modal,
.end-round-modal {
	display: flex;
	align-items: center;
}
.game-stage-modal-contents,
.end-game-modal-contents {
	background: rgba(70, 70, 70, 0.95);
}
.game-stage-modal-contents,
.end-game-modal-contents {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
}
.game-stage-modal-game-description,
.end-game-modal-game-description {
	background: rgba(0, 0, 0, 0.1);
	flex: 1;
	padding: 30px;
	overflow-y: scroll;
	.game-over-header {
		font-weight: 800;
		font-size: 42px;
		color: #202020;
		text-align: center;
		margin-top: 0;
	}
	.results-header {
		font-size: 24px;
		color: #222;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}
.game-stage-modal {
	.game-stage-modal-header {
		margin-bottom: 20px;
		margin-left: -18px;
		padding-left: 14px;
		width: calc(~"100% +" 26px);
		background: transparent;
		color: #202020;
		font-weight: 800;
		font-size: 42px;
		&:not(:disabled):hover, &:focus {
			background: #555;
		}
	}
	.player-list {
		padding: 0;
	}
}
@media screen and (max-width: @medium-max-width), screen and (max-height: @medium-max-height) {
	.game-stage-modal {
		.game-stage-modal-game-description {
			padding: 20px;
		}
		.game-stage-modal-header {
			font-size: 26px;
		}
	}
}
@media screen and (max-width: @small-max-width), screen and (max-height: @small-max-height) {
	.game-stage-modal {
		.game-stage-modal-game-description {
			padding: 15px;
		}
		.game-stage-modal-header {
			font-size: 20px;
		}
	}
}
// .end-game-modal {
// 	flex-direction: column;
// 	overflow-y: scroll;
// }
.game-scoreboard-wrap {
	margin: 0 -30px 80px -30px;
}
.game-scoreboard {
	max-width: 500px;
	box-sizing: border-box;
	margin: 0 auto;
	.scoreboard-row {
		padding: 5px 30px;
		display: flex;
		color: #202020;
		font-weight: 800;
		align-items: center;
		background: rgba(50, 50, 50, 0.5);
		&:nth-child(even) {
			background: rgba(70, 70, 70, 0.5);
		}
		&.game-scoreboard-current-user {
			background: @purple;
		}
	}
	.scoreboard-number {
		font-size: 30px;
	}
	.scoreboard-user {
		flex-grow: 1;
		padding-left: 15px;
		font-size: 18px;
	}
	.scoreboard-score {
		padding-left: 15px;
		font-size: 18px;
	}
}
.game-over-drawings {
	display: flex;
	justify-content: center;
	margin: 0 -20px 40px -20px;
	flex-wrap: wrap;
}
.game-over-drawing {
	background: #555;
	margin: 20px;
	position: relative;
	border-radius: 3px;
}
.game-over-drawing-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: @white;
	padding: 40px 15px 15px 15px;
	font-weight: 100;
	font-size: 23px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, transparent 100%);
}
.game-over-drawing-name {
	font-weight: 800;
}
.waiting-for-host-text {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: @white;
}

@media screen and (max-width: 700px) {
	.game-stage-modal-contents,
	.end-game-modal-contents {
		flex-direction: column;
		.end-game-modal-game-description {
			order: 1;
			padding-bottom: 0;
			height: 60%;
		}
		.chat-box {
			order: 2;
			height: 40%;
			padding-top: 5px;
		}
		.game-over-header {
			font-size: 30px;
		}
	}
}