@import 'variables.less';

@slide-in-time: 300ms;
@keyframes slide-in {
	100% {
		transform: translate(0);
		opacity: 1;
	}
}

.game-panel {
	position: absolute;
	right: 0;
	width: @game-panel-width;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(20%);
	opacity: 0;
	animation: slide-in @slide-in-time forwards;
	background: transparent;
	transition: background 0.2s;
	overflow-y: scroll;
	&:hover {
		background: rgba(255, 255, 255, 0.05);
	}
	.game-panel-header {
		padding: 0 10px;
		margin: 15px 0;
		width: 100%;
		box-sizing: border-box;
	}
	.game-name {
		font-size: 18px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}
	.round-label {
		font-size: 18px;
		color: #444;
		line-height: 1;
		.number {
			font-weight: 600;
		}
	}
	.round-timer {
		position: relative;
	}
	.round-timer-children {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.game-users {
	}
	.game-user {
	}
}