@import 'variables.less';

@slide-in-time: 600ms;
@keyframes slide-in {
	100% {
		transform: translate(0);
	}
}

.game-panel {
	position: absolute;
	right: 0;
	width: @game-panel-width;
	top: 0;
	bottom: 0;
	background: rgba(100, 100, 100, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(100%);
	animation: slide-in @slide-in-time forwards;
	.game-panel-header {
		display: flex;
		padding: 0 10px;
		margin: 10px 0 20px 0;
		width: 100%;
		box-sizing: border-box;
	}
	.game-name {
		flex-grow: 1;
		font-size: 18px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.round-label {
		font-size: 18px;
		text-align: center;
		color: #444;
		padding-left: 3px;
		.number {
			font-weight: 600;
		}
	}
	.round-timer {
		margin-bottom: 30px;
	}
	.game-users {
	}
	.game-user {
	}
}