@import 'variables.less';
@keyframes correct-word {
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.game-text-field {
	position: absolute;
	bottom: 0;
	left: 0;
	right: @game-panel-width;
	display: flex;
	align-items: center;
	flex-direction: column;
	& > * {
		width: 400px;
		max-width: 100%;
	}
	.game-text-field-container {
		margin: 0 20px;
	}
	&.game-text-field-correct-word .text-field {
		background: @green;
		animation: correct-word 0.5s;
	}
}