@import 'variables.less';
@logo-width: 820px/8;
@logo-height: 456px/8;

.game-logo-small {
	width: @logo-width;
	height: @logo-height;
	position: absolute;
	left: calc(~"50% -" @logo-width / 2);
	top: 20px;
	transition: transform 0.2s, left 0.2s;
	-webkit-backface-visibility: hidden; // Fixes a css transform issue in chrome http://stackoverflow.com/questions/17242922/css3-hover-effects-make-weird-impact-on-other-elements-in-chrome
	&.game-logo-clickable {
		cursor: pointer;
		&:hover {
			transform: scale(1.06);
		}
	}
	@media screen and (max-height: 400px) {
		&:not(.game-logo-clickable) {
			display: none;
		}
	}
}
.game-page .game-logo-small {
	left: calc(~"50% -" (@logo-width / 2) + (@game-panel-width - @brush-palette-width) / 2);
}