@import 'variables.less';
@input-placeholder-color: #ddd;

.text-field {
	border: none;
	width: 100%;
	height: 70px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 0 20px;
	font-size: 26px;
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
	margin-bottom: @gutter;
	outline: none;
	font-weight: 100;
	transition: background 0.2s, color 0.2s;
	&:hover {
		background: rgba(0, 0, 0, 0.7);
	}
	&:focus {
		background: rgba(0, 0, 0, 0.9);
	}
	&::-webkit-input-placeholder {
		color: @input-placeholder-color;
	}
	&::-moz-placeholder {
		color: @input-placeholder-color;
	}
}
.text-field-small {
		padding: 0 15px;
		height: 50px;
		font-size: 16px;
		font-weight: 400;
	}

@media screen and (max-width: @small-max-width), screen and (max-height: @small-max-height) {
	.text-field {
		padding: 0 15px;
		height: 50px;
		font-size: 22px;
	}
}