@import 'variables.less';

@width: 60px;
@height: 80px;

@tiny-width: 18px;
@tiny-height: 24px;

.user-icon {
	width: @width;
	height: @height;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: @gutter/2;
	&.user-icon-tiny {
		width: @tiny-width;
		height: @tiny-height;
		margin: 0;
		.user-avatar {
			width: @tiny-width;
			height: @tiny-width;
			font-size: 14px;
		}
	}
	.user-avatar {
		align-items: center;
		justify-content: center;
		width: @width;
		height: @width;
		display: flex;
		background: #ccc;
		border-radius: 50%;
		font-size: 30px;
	}
	.user-name {
		text-align: center;
		font-size: 12px;
		font-weight: 600;
	}
}