@gutter: 30px;
@transition-time: 400ms;
@background-color: #686c6e;
@lightened-background-color: lighten(@background-color, 2.4%);
@game-panel-width: 170px;
@brush-palette-width: 100px;
@brush-palette-half-width: 60px;
@header-height: 110px;

@green: #499d72;
@red: #c94045;
@orange: #dd783b;
@yellow: #ccc768;
@blue: #6090bc;
@purple: #a76da7;
@black: #383838;
@white: #e4e4e4;
@gray: #555;
@lightGray: #999;
@tan: #cbb394;
@brown: #67482d;